{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1>Réservations</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <h2>Nouvelle réservation</h2>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Réserver</button>
    {{ form_end(form) }}
{% endblock %}
